body {
    background-image: url(./Media/free-website-background-clipart-18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


nav ul {
    background-color: #333333;
    height: 60px;
}

nav li {
    display: inline;
    font-size: 32px;
    font-family: sans-serif;
    
}

.nav_left_items {
    padding: 20px;
}

#about_header {
    display: inline;
    position: absolute;
    right: 40px;

}