* {
    font-family: sans-serif;
}

body {
    background-image: url(./Media/free-website-background-clipart-18.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
}

header {
    padding-left: 40px;
    padding-right: 40px;
}


nav {
    background-color: #333333;
    height: 60px;
    min-width: 800px;
    display:flex;
    align-items:center;
    border-radius: 12px;
    box-shadow: 20px 5px 80px 0px grey;
}

nav a {
    font-size: 32px;
    margin-right: 60px;
    margin-left: 12px;
    list-style: none;
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    border-radius: 12px;
    text-align: center;

}


#about_header {
    margin-left: auto;
    margin-right: 12px;
}



header a:hover {
    background-color: #3671b5;
    padding: 4px;

    font-size: 38px;
    transition: .9s;
    box-shadow: 0px 2px 6px 8px #bfdee7;
    display:flex;justify-content:center;align-items:center;

  }

footer{
    padding-top: 120px;
}

footer a {
    font-size: 24px;
    bottom: 0;
    padding-right: 22px;
  }

  footer img {
      max-width: 18px;

  }